<div th:replace="fragmentos/fragmentos :: section-header"> </div>
<body>

	<div th:replace="fragmentos/fragmentos :: cabecalho"> </div>
	
	<div class="container">
	
		<h4>Editar Alunos </h4>
		<hr>
		
			<!-- 				Nome do Aluno -->
		
			<form method="POST" action="/alterarAluno" th:object="${altAluno}">
				<input type="hidden" th:field="*{id}">
				<div class="row">
					<div class="col-md-6 form-group offset-md-2"> 
						<label> Nome do Aluno: </label>
						<input class="form-control" placeholder="Ex: Paulo Cardoso" th:field="*{nome}"
						th:value="${altAluno.nome}">
					</div>
				</div>
				
				<!-- 				Tipo de Curso -->
				
				<div class="row">
					<div class="col-md-6 form-group offset-md-2"> 
						<label> Selecione o Curso: </label>
						<select class="form-control" th:field="*{curso}"> 
							<option th:each="var_curso : ${T(br.com.alunos.Enums.Curso).values()}"
								th:value="${var_curso}" th:text="${var_curso}"> 
							</option>
						
						</select>
					</div>
				</div>
				
				<!-- 				Gerar Matricula -->
				<div class="row">
					<div class="col-md-6 form-group offset-md-2"> 
						<label> Matricula: </label>
						<input class="form-control" id="matricula" th:field="*{matricula}" 
								readonly="true" th:value="${altAluno.matricula}">
					
					</div>
				</div>
				
				<!-- 				Status -->
				<div class="row">
					<div class="col-md-6 form-group offset-md-2"> 
						<label> Status: </label>
						<select class="form-control" th:field="*{status}"> 
							<option th:each="var_status : ${T(br.com.alunos.Enums.Status).values()}"
								th:value="${var_status}" th:text="${var_status}"> 
							</option>
						
						</select>
					</div>
				</div>
				
				<!-- 				Turno -->
				<div class="row">
					<div class="col-md-6 form-group offset-md-2"> 
						<label> Turno: </label>
						<select class="form-control" th:field="*{turno}"> 
							<option th:each="var_turno : ${T(br.com.alunos.Enums.Turno).values()}"
								th:value="${var_turno}" th:text="${var_turno}"> 
							</option>
						
						</select>
					</div>
				</div>
				
				<div class="row bt-salvar-voltar">
					<button type="submit" class="botao-form btn btn-success offset-md-3">
					 	Atualizar
					 </button>
					 
					 <a th:href="@{/alunos-adicionados}"> 
					 	<button type="button" class="botao-form btn btn-outline-danger offset-md-1">
					 		Voltar
					 	</button>
					 </a>
				</div>
				
			</form>
		
	</div>
	
	<div th:replace="fragmentos/fragmentos :: section-footer"> </div>
	
</body>
</html>