<div th:replace="fragmentos/fragmentos :: section-header"> </div>
<body>

	<div th:replace="fragmentos/fragmentos :: cabecalho"> </div>
	
	<div class="container">
	
		<!-- 
		<h3> Ultimos alunos adicionados </h3> -->
		
		<h3 th:text="${titulo}"> </h3>
		<hr>
		
		<table class="table table-bordered table-hover">
			<thead>
				<th scope="col"> Nome </th>
				<th scope="col"> Curso </th>
				<th scope="col"> Matricula </th>
				<th scope="col"> Status </th>
				<th scope="col"> Turno </th>
				<th scope="col"> Ação </th>
			</thead>
			<tbody>
				<tr scope="row" th:each="l_alunos : ${alunosListagem}">
					<td th:text="${l_alunos.nome}"> </td>
					<td th:text="${l_alunos.curso}"> </td>
					<td th:text="${l_alunos.matricula}"> </td>
					<td th:text="${l_alunos.status}"> </td>
					<td th:text="${l_alunos.turno}"> </td>
					
					<td>
						<a class="btn btn-primary" th:href="@{viewAlterar/{id}(id=${l_alunos.id})}"> 
							<i class="fas fa-edit"></i> 
							Editar 
						</a>
						<a class="btn btn-danger" th:href="@{excluir/{id}(id=${l_alunos.id})}"> 
							<i class="fas fa-times"></i> 
							Excluir 
						</a>
					</td>
				</tr>
			
			</tbody>
				
		</table>
		
	</div>
	
	<div th:replace="fragmentos/fragmentos :: section-footer"> </div>

</body>
</html>